@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

*{ margin: 0; padding: 0; font-family: 'Noto Sans KR', sans-serif;}
body{ color: #696969;}
ul, li{ list-style: none; }
a{ text-decoration: none; color: #696969; }
img{ display: block; border: 0; }
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body::-webkit-scrollbar{
    width: 10px;
    background-color: #ddd;
}
body::-webkit-scrollbar-thumb{
    background-color: #aaa;
    border-radius: 10px;
}
